<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{index}">
<head>
    <meta charset="UTF-8">
    	 
	<link rel="stylesheet" href="/plugins/grid/tabulator/tabulator_semanticui.min.css" type="text/css"/>
	<style>
		.layer-pop { z-index: 9; position: absolute; display: none; margin-top: 10px; }
	</style>	
</head>
<th:block layout:fragment="content-area">
	<div class="container-fluid">
		<form name="frm" action="/admin/saveCmp" method="post">
			<div class="row">
				<div class="col-12 border-bottom">
					<div class="float-left">
						<h4><strong>회사정보</strong></h4>
					</div>
				</div>
			</div>
			
			<div class="row mt-2">
				<div class="col-3 text-center">
					<p>
						<img class="img-thumbnail" src="" id="cmpLogo" style="width: 100px; height: 100px;">
						<input type="hidden" id="imgSource" value="">
					</p>
					
					<div class="ipt-file">
				    	<input type="text" readonly="readonly" id="fileName">
				        <label>
				            업로드
				            <input type="file" onchange="readCmpLogo(this)">
				        </label>
				    </div>
				</div>
				
				<div class="col-9">
					<div class="form-group row">								
						<label class="col-sm-1 col-form-label">회사이름</label>
					    <div class="col-sm-3">				    	
						    <input type="text" class="form-control" id="cmpName" name="cmpName" th:value="${data.cmpName}">					    					    	
					    </div>
					    
					    <label class="col-sm-1 col-form-label">대표자명</label>
					    <div class="col-sm-3">
					    	<input type="text" class="form-control" id="cmpOwner" name="cmpOwner" th:value="${data.cmpOwner}">
					    </div>				    
					</div>
					
					<div class="form-group row">								
						<label class="col-sm-1 col-form-label">주소</label>
					    <div class="col-sm-3">
					    	<div class="form-inline">
						    	<input type="text" class="form-control mr-1" id="zipcode" name="zipcode" th:value="${data.zipcode}" readonly="readonly" placeholder="우편번호">
						    	<button type="button" class="btn-img" style="height: 27px;" onclick="findAddr()"><img src="/images/search.png" class="w18-h18"></button>
					    	</div>
					    </div>
					    <div class="col-sm-8">
					    	 <div class="form-row">
    							<div class="col">					    	
									<input type="text" class="form-control mr-1" id="address" name="address" th:value="${data.address}">
								</div>
								
								<div class="col">   
									<input type="text" class="form-control" id="addressDetail" name="addressDetail" th:value="${data.addressDetail}">
								</div>
							</div>
					    </div>				    		   
					</div>
					
					<div class="form-group row">
						<label class="col-sm-1 col-form-label">대표번호</label>
					    <div class="col-sm-3">
					    	<input type="text" class="form-control" id="primenum" name="primenum" th:value="${data.primenum}">
					    </div>	
					    								
						<label class="col-sm-1 col-form-label">대표메일</label>
					    <div class="col-sm-7">
					    	<div class="form-row align-items-center">
							    <div class="col">									    	
							      	<input type="text" class="form-control" id="email">
							    </div>
							    <div class="col">									    	
							      	<div class="input-group">
							        	<div class="input-group-prepend">
							          		<div class="input-group-text">@</div>
							        	</div>
							        	<select class="form-control" id="emailServer"></select>
							      	</div>
							    </div>									    
							 </div>
					    </div>					    					    
					</div>
					
					<div class="form-group row">								
						<label class="col-sm-1 col-form-label">사번규칙</label>
					    <div class="col-sm-2">
					    	<select class="form-control mr-1" id="userCodeRule" name="userCodeRule">
					    		<option value="">선택</option>
					    		<option th:selected="${data.userCodeRule}=='100'" value="100">100자</option>
					    		<option th:selected="${data.userCodeRule}=='1000'" value="1000">1000자</option>
					    		<option th:selected="${data.userCodeRule}=='10000'" value="10000">10000자</option>
					    		<option th:selected="${data.userCodeRule}=='100000'" value="100000">100000자</option>
					    	</select>					    	
					    </div>
					</div>
				</div>						
			</div>
		
			<div class="row">
				<div class="col-12 border-bottom pb-3 mb-3">
					<div class="float-right">
						<button type="button" class="btn btn-outline-secondary" onclick="saveCmp()">저장</button>					
					</div>
				</div>			
			</div>	<!-- End row -->
		</form>
	</div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
				    	<a class="nav-link active" data-toggle="tab" href="#dept" role="tab" aria-controls="dept" aria-selected="true">부서/파트관리</a>
				  	</li>
				  	<li class="nav-item">
				    	<a class="nav-link" data-toggle="tab" href="#pos" role="tab" aria-controls="pos" aria-selected="false">직급관리</a>
				  	</li>
				  	<li class="nav-item">
				    	<a class="nav-link" data-toggle="tab" href="#doc" role="tab" aria-controls="doc" aria-selected="false">전자결재관리</a>
				  	</li>							  
				</ul>
							
				<div class="tab-content">
					<div class="tab-pane fade show active" id="dept" role="tabpanel" aria-labelledby="dept-tab">
				  		<div class="container-fluid">
							<div class="row">
								<div class="layer-pop">
									<div class="card border-theme text-center" >
										<div class="card-header">
									    	<h5><strong>부서장 선택</strong></h5>
									    	<div class="float-right">
									    		<i class="far fa-window-close" onclick="closeLayer()"></i>
									    	</div>
									  	</div>
									  	<div class="card-body">
									    	<div id="gridUser"></div>								    									    
									  	</div>
									  	<div class="card-footer">
									    	<button type="button" class="btn btn-primary" onclick="setDeptUser()">선택</button>
									    </div>
									</div>
								</div>			
							
								<div class="col-6">
									<div class="row border-right">
										<div class="col-12 border-bottom">
											<div class="float-left">
												<h5><strong>부서</strong></h5>
											</div>
										</div>
										
										<div class="col-12">
											<div id="gridDept"></div>
										</div>
										
										<div class="col-12">
											<table class="table table-borderless">
												<colgroup>
													<col width="100">
													<col width="">													
												</colgroup>
												<tr>
													<th>부서코드</th>
													<td><input type="text" class="form-control w100" id="deptCode" disabled="disabled" maxlength="4"></td>
												</tr>
												<tr>
													<th>부서명</th>
													<td><input type="text" class="form-control" id="deptName"></td>
												</tr>
												<tr>
													<th>부서장/사번</th>
													<td>
														<div class="form-inline">
															<input type="text" class="form-control mr-2" id="deptManager" disabled="disabled">
															<input type="text" class="form-control mr-2" id="deptManagerCode" disabled="disabled">
															<button type="button" class="btn-img" style="height: 27px;" onclick="showUser()"><img src="/images/search.png" class="w18-h18"></button>
														</div>
													</td>													
												</tr>
											</table>										
										</div>
										
										<div class="col-12 mb-2">
											<div class="float-right">
												<button type="button" class="btn btn-outline-secondary" id="newBtnDept" onclick="newDept()">신규</button>
												<button type="button" class="btn btn-outline-secondary" id="saveBtnDept" onclick="saveDept()">저장</button>
												<button type="button" class="btn btn-outline-secondary" id="updateBtnDept" onclick="updateDept()" style="display: none;">수정</button>
											</div>
										</div>
									</div>										
								</div>
								
								<div class="col-6">
									<div class="row">
										<div class="col-12 border-bottom">
											<div class="float-left">
												<h5><strong>파트</strong></h5>
											</div>
										</div>
										
										<div class="col-12">
											<div id="gridPart"></div>
										</div>
										
										<div class="col-12">
											<table class="table table-borderless">
												<colgroup>
													<col width="100">
													<col width="">													
												</colgroup>
												<tr>
													<th>파트코드</th>
													<td><input type="text" class="form-control w100" id="partCode" disabled="disabled" maxlength="4"></td>
												</tr>
												<tr>
													<th>파트명</th>
													<td><input type="text" class="form-control" id="partName"></td>
												</tr>
												<tr>
													<th>파트장/사번</th>
													<td>
														<div class="form-inline">
															<input type="text" class="form-control mr-2" id="partManager" disabled="disabled">
															<input type="text" class="form-control mr-2" id="partManagerCode" disabled="disabled">
															<button type="button" class="btn-img" style="height: 27px;"><img src="/images/search.png" class="w18-h18"></button>
														</div>
													</td>													
												</tr>
											</table>										
										</div>
										
										<div class="col-12 mb-2">
											<div class="float-right">
												<button type="button" class="btn btn-outline-secondary" id="newBtn">신규</button>
												<button type="button" class="btn btn-outline-secondary" id="saveBtn" onclick="save()">저장</button>
												<button type="button" class="btn btn-outline-secondary" id="updateBtn" onclick="update()" style="display: none;">수정</button>
											</div>
										</div>
									</div>											
								</div>
							</div>	<!-- End row -->
						</div>		<!-- End container -->							  		
				  	</div>			<!-- Tab:부서/파트 -->
				  	
				  	<div class="tab-pane fade" id="pos" role="tabpanel" aria-labelledby="pos-tab">
				  		<div class="container-fluid">
							<div class="row">	
								<div class="col-12 border-bottom">												
									<div class="float-left">
										<h5><strong>직급</strong></h5>
									</div>
								</div>
											
								<div class="col-12">
									<div id="gridPos" style="width: 350px;"></div>
								</div>
								
								<div class="col-12 pb-2">
									<div class="input-group" style="width: 350px;">
										<div class="input-group-prepend">
									    	<span class="input-group-text">직급유형</span>
									  	</div>
									  	<select class="form-control" id="posCategory"></select>
									  	<div class="input-group-append">
									  		<button type="button" class="btn btn-outline-secondary" onclick="updatePos()">변경</button>
									  	</div>									  	
									</div>								
								</div>										
							</div>
						</div>																			
				  	</div>	<!-- Tab:직급 -->
				  	
				  	<div class="tab-pane fade" id="doc" role="tabpanel" aria-labelledby="doc-tab">
				  		<div class="container-fluid">
							<div class="row">	
								<div class="col-12 border-bottom">												
									<div class="float-left">
										<h5><strong>결재선</strong></h5>
									</div>
								</div>																			
								
								<div class="col-12 mt-2 pb-2">
									<div class="input-group" style="width: 350px;">
										<div class="input-group-prepend">
									    	<span class="input-group-text">문서유형</span>
									  	</div>
									  	<select class="form-control" id="document"></select>									  										  
									</div>								
								</div>
								
								<div class="col-12">
									
								</div>										
							</div>
						</div>																			
				  	</div>	<!-- Tab:전자결재 -->
				</div>							
			</div>
		</div>	<!-- End row -->										
	</div>		<!-- End container -->			
	
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="/plugins/grid/tabulator/tabulator.min.js"></script>
	<script th:inline="javascript">
		var gridDept = null;
		var gridPart = null;
		var gridPos  = null;
		var gridUser = null;
		var gridPartUser = null;
		
		let userCode = "";
		let userName = "";
		
		/*<![CDATA[*/
		const fullEmail = /*[[${data.email}]]*/;
		const logo = /*[[${data.cmpLogo}]]*/;		
		let posCategory = /*[[${data.posCategory}]]*/;
		/*]]>*/
		
		const findAddr = function() {
			new daum.Postcode({
		        oncomplete: function(data) {		        	
		            var roadAddr = data.roadAddress; 	//도로명 주소
		            var jibunAddr = data.jibunAddress;  //지번 주소
		            
		            $("#zipcode").val(data.zonecode);	//우편번호
		            
		            if (roadAddr !== "") {
		            	$("#address").val(roadAddr);
		            } else if(jibunAddr !== "") {
		            	$("#address").val(jibunAddr);            
		            }
		        }
		    }).open();
		};
		
		const isValid = function() {
			
			return true;
		};
		
		const saveCmp = function() {
			if (isValid()) {
				const frm = $("form");				
				const email = $("#email").val().replace(/\@/g,'') + "@" + $("#emailServer").val();
				
				const input = $("<input>")
					.attr("type", "hidden") 
					.attr("name", "email")
					.val(email);
				const logo = $("<input>")
					.attr("type", "hidden") 
					.attr("name", "cmpLogo")
					.val($("#imgSource").val());
				
				frm.append($(input));
				frm.append($(logo));
				frm.submit();
			}						
		};
		
		//부서 그리드 생성
		const initGridDept = function() {
			const data = commonCallAjax("/admin/getDeptList", "");
			
			if (data.code == "ok") {
				const result = data.resultList;

				if (result.length > 0) {
		        	//Grid draw
					gridDept = new Tabulator("#gridDept", {
						layout: "fitDataTable",
						height: "220px",	    
					    columns: [
					    	{title: "부서코드" , field: "deptCode"    , width: 100},
					    	{title: "부서명"   , field: "deptName"    , width: 100},
					    	{title: "부서장"   , field: "deptManager" , width: 100},
						    {title: "생성일"   , field: "createDate"  , width: 120, hozAlign: "center"}						    						   
					    ]			  
					});		        	

					//Data set
					gridDept.on("tableBuilt", function(){				
						gridDept.setData(result);
						gridDept.on("rowClick", function(e, row) {		
							gridDept.deselectRow();
							row.toggleSelect();
					    	//e - click object
					        //row - row component
					        const rowData = row._row.data;
					    	
					        $("#deptCode").prop("disabled", true);
					        $("#deptCode").val(rowData.deptCode);
							$("#deptName").val(rowData.deptName);
							$("#deptManager").val(rowData.deptManager);
							
					    	initGridPart(rowData.deptCode);
						});
					});					
		        }	
			}					    	        
		};
		
		//파트 그리드 생성
		const initGridPart = function(deptCode) {
			const data = commonCallAjax("/admin/getPartList", {"deptCode" : deptCode});
			
			if (data.code == "ok") {
				const result = data.resultList;
				
				let nullMsg = "";				
				if (commonIsNull(deptCode)) {
					nullMsg = "부서를 선택해주세요.";
				} else {
					nullMsg = "데이터가 존재하지 않습니다.";
				}
				
	        	//Grid draw
				gridPart = new Tabulator("#gridPart", {
					layout: "fitDataTable",
					placeholder: nullMsg,
					height: "220px",	    
				    columns: [
				    	{title: "파트코드" , field: "partCode"    , width: 100},
				    	{title: "파트명"   , field: "partName"    , width: 100},
				    	{title: "파트장"   , field: "partManager" , width: 100},
					    {title: "생성일"   , field: "createDate"  , width: 120, hozAlign: "center"}						    						   
				    ]			  
				});		        	

				//Data set
				gridPart.on("tableBuilt", function(){				
					gridPart.setData(result);
					gridPart.on("rowClick", function(e, row) {		
						gridPart.deselectRow();
						row.toggleSelect();
				    	//e - click object
				        //row - row component
				        const rowData = row._row.data;
				    	
				        $("#partCode").val(rowData.partCode);
						$("#partName").val(rowData.partName);
						$("#partManager").val(rowData.partManager);				    	
					});
				});				
			}	
		};
		
		//직급 그리드 생성
		const initGridPos = function() {
			const params = {
				"parentCode" : posCategory,
				"show" : "all" 
			};
			const data = commonCallAjax("/cmn/getCodeList", params);
			
			if (data.code == "ok") {
				const result = data.resultList;
				
	        	//Grid draw
				gridPos = new Tabulator("#gridPos", {
					layout: "fitDataTable",
					placeholder: "데이터가 존재하지 않습니다.",
					height: "250px",	    
				    columns: [
				    	{title: "직급코드" , field: "code"  , width: 100},
				    	{title: "직급명"   , field: "name"  , width: 120},					    						    						    						  
				    	{title: "보이기"   , field: "useYn" , width: 100, hozAlign: "center"}
				    ]			  
				});		        	

				//Data set
				gridPos.on("tableBuilt", function(){				
					gridPos.setData(result);						
				});
			}					    	        
		};
		
		const showUser = function() {
			const dept = $("#deptCode").val();
			
			if (commonIsNull(dept)) {
				alert("부서를 선택해주세요.");
				return;
			}
									
			const data = commonCallAjax("/user/getDeptUser", {"deptCode" : $("#deptCode").val()});
			
			if (data.code == "ok") {
				const result = data.resultList;

				if (result.length > 0) {
					$(".layer-pop").show();
					
		        	//Grid draw
					gridUser = new Tabulator("#gridUser", {
						layout: "fitDataTable",
						height: "220px",	    
					    columns: [
					    	{title: "사번" , field: "userCode" , width: 100},
					    	{title: "이름" , field: "userName" , width: 120},
					    	{title: "직급" , field: "jobPos"   , width: 100}						    						    						  
					    ]			  
					});		        	

					//Data set
					gridUser.on("tableBuilt", function(){				
						gridUser.setData(result);
						gridUser.on("rowClick", function(e, row) {		
							gridPart.deselectRow();
							row.toggleSelect();
					    	//e - click object
					        //row - row component
					        const rowData = row._row.data;
					    	
					        userCode = rowData.userCode;
							userName = rowData.userName + "(" + rowData.jobPos + ")";		    	
						});
					});					
		        }	
			}					    	        
		};
		
		const setDeptUser = function() {
			$("#deptManagerCode").val(userCode);
			$("#deptManager").val(userName);
			$(".layer-pop").hide();
		};
		
		const setPartUser = function() {
			$("#partManagerCode").val(userCode);
			$("#partManager").val(userName);
			$(".layer-pop").hide();
		};
		
		const closeLayer = function() {
			gridUser = null;
			userCode = "";
			userName = "";
			
			$(".layer-pop").hide();			
		};
		
		const readCmpLogo = function(input) {			
			$("#fileName").val(input.files[0].name);
			
			if (input.files && input.files[0]) {
				const file = input.files[0];
				
				if (file.size > 300000) {
		            alert("파일 사이즈가 너무 큽니다.")
		            return;
		        }
				
				var fileReader = new FileReader();
				
				fileReader.onload = function(e) {
					$("#cmpLogo").attr("src", e.target.result);
					$("#imgSource").val(e.target.result);
				};       
				fileReader.readAsDataURL(file);
			}
		};
		
		const newDept = function() {
			$("#deptCode").prop("disabled", false);
		};
		
		const saveDept = function() {
			
		};
		
		const updateDept = function() {
			
		};
		
		const updatePos = function() {
			const data = commonCallAjax("/admin/updatePos", {"posCategory" : $("#posCategory").val()});
			
			if (data.code == "ok") {
				alert("저장되었습니다.");
				
				posCategory = data.posCategory;
				initGridPos();
			}
		};
		
		const initObj = function() {								
			const comboObj = {"objId" : "posCategory", "params" : {"parentCode" : "POS003"}, "defaultSelected" : "blank"};			
			const comboObj2 = {"objId" : "emailServer", "params" : {"parentCode" : "FRM001"}, "defaultSelected" : "blank"};			
			const comboObj3 = {"objId" : "document", "params" : {"parentCode" : "DOC001"}, "defaultSelected" : "blank"};			
			
			commonInitObj(comboObj);
			commonInitObj(comboObj2);
			commonInitObj(comboObj3);
			
			if (!commonIsNull(fullEmail)) {
				const email = fullEmail.split("@")[0];
				const emailServer = fullEmail.split("@")[1];
				
				$("#email").val(email);
				$("#emailServer").val(emailServer);				
			}
			
			if (commonIsNull(logo)) {
				$("#cmpLogo").attr("src", "/images/logo.png");
				$("#imgSource").val("");
			} else {				
				$("#cmpLogo").attr("src", logo);
				$("#imgSource").val(logo);	
			}		
			
			$("#posCategory").val(posCategory);
		};
		
		$(function() {

			initObj();
			initGridDept();
			initGridPart();
			initGridPos();
		});		
	</script>
</th:block>
</html>