<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{index}">
<head>
    <meta charset="UTF-8">
    	 
	<link rel="stylesheet" href="/plugins/grid/tabulator/tabulator_semanticui.min.css" type="text/css"/>
	<style>
		.layer-pop { z-index: 9; position: absolute; display: none; margin-top: 10px; }
	</style>	
</head>
<th:block layout:fragment="content-area">
	<div class="container-fluid">
		<form name="frm" action="/admin/saveCmp" method="post">
			<div class="row">
				<div class="col-12 border-bottom">
					<div class="float-left">
						<h4><strong>회사정보</strong></h4>
					</div>
				</div>
			</div>
			
			<div class="row mt-2">
				<div class="col-3 text-center">
					<p>
						<img class="img-thumbnail" src="" id="cmpLogo" style="width: 100px; height: 100px;">
						<input type="hidden" id="imgSource" value="">
					</p>
					
					<div class="ipt-file">
				    	<input type="text" readonly="readonly" id="fileName">
				        <label>
				            업로드
				            <input type="file" onchange="readCmpLogo(this)">
				        </label>
				    </div>
				</div>
				
				<div class="col-9">
					<div class="form-group row">								
						<label class="col-sm-1 col-form-label">회사이름</label>
					    <div class="col-sm-3">				    	
						    <input type="text" class="form-control" id="cmpName" name="cmpName" th:value="${data.cmpName}">					    					    	
					    </div>
					    
					    <label class="col-sm-1 col-form-label">대표자명</label>
					    <div class="col-sm-3">
					    	<input type="text" class="form-control" id="cmpOwner" name="cmpOwner" th:value="${data.cmpOwner}">
					    </div>				    
					</div>
					
					<div class="form-group row">								
						<label class="col-sm-1 col-form-label">주소</label>
					    <div class="col-sm-3">
					    	<div class="form-inline">
						    	<input type="text" class="form-control mr-1" id="zipcode" name="zipcode" th:value="${data.zipcode}" readonly="readonly" placeholder="우편번호">
						    	<button type="button" class="btn-img" style="height: 27px;" onclick="findAddr()"><img src="/images/search.png" class="w18-h18"></button>
					    	</div>
					    </div>
					    <div class="col-sm-8">
					    	 <div class="form-row">
    							<div class="col">					    	
									<input type="text" class="form-control mr-1" id="address" name="address" th:value="${data.address}">
								</div>
								
								<div class="col">   
									<input type="text" class="form-control" id="addressDetail" name="addressDetail" th:value="${data.addressDetail}">
								</div>
							</div>
					    </div>				    		   
					</div>
					
					<div class="form-group row">
						<label class="col-sm-1 col-form-label">대표번호</label>
					    <div class="col-sm-3">
					    	<input type="text" class="form-control" id="primenum" name="primenum" th:value="${data.primenum}">
					    </div>	
					    								
						<label class="col-sm-1 col-form-label">대표메일</label>
					    <div class="col-sm-7">
					    	<div class="form-row align-items-center">
							    <div class="col">									    	
							      	<input type="text" class="form-control" id="email">
							    </div>
							    <div class="col">									    	
							      	<div class="input-group">
							        	<div class="input-group-prepend">
							          		<div class="input-group-text">@</div>
							        	</div>
							        	<select class="form-control" id="emailServer"></select>
							      	</div>
							    </div>									    
							 </div>
					    </div>					    					    
					</div>
					
					<div class="form-group row">								
						<label class="col-sm-1 col-form-label">사번규칙</label>
					    <div class="col-sm-2">
					    	<select class="form-control mr-1" id="userCodeRule" name="userCodeRule">
					    		<option value="">선택</option>
					    		<option th:selected="${data.userCodeRule}=='100'" value="100">100자</option>
					    		<option th:selected="${data.userCodeRule}=='1000'" value="1000">1000자</option>
					    		<option th:selected="${data.userCodeRule}=='10000'" value="10000">10000자</option>
					    		<option th:selected="${data.userCodeRule}=='100000'" value="100000">100000자</option>
					    	</select>					    	
					    </div>
					</div>
				</div>						
			</div>
		
			<div class="row">
				<div class="col-12 border-bottom pb-3 mb-3">
					<div class="float-right">
						<button type="button" class="btn btn-outline-secondary" onclick="saveCmp()">저장</button>					
					</div>
				</div>			
			</div>	<!-- End row -->
		</form>
	</div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
				    	<a class="nav-link active" data-toggle="tab" href="#dept" role="tab" aria-controls="dept" aria-selected="true">부서/파트관리</a>
				  	</li>
				  	<li class="nav-item">
				    	<a class="nav-link" data-toggle="tab" href="#pos" role="tab" aria-controls="pos" aria-selected="false">직급관리</a>
				  	</li>
				  	<li class="nav-item">
				    	<a class="nav-link" data-toggle="tab" href="#doc" role="tab" aria-controls="doc" aria-selected="false">전자결재관리</a>
				  	</li>							  
				</ul>
							
				<div class="tab-content">
					<div class="tab-pane fade show active" id="dept" role="tabpanel" aria-labelledby="dept-tab">
				  		<div class="container-fluid">
							<div class="row">
								<div class="layer-pop">
									<div class="card border-theme text-center" >
										<div class="card-header">
									    	<h5><strong id="layerTitle"></strong></h5>
									    	<div class="float-right">
									    		<i class="far fa-window-close" onclick="closeLayer()"></i>
									    	</div>
									  	</div>
									  	<div class="card-body">
									    	<div id="gridUser"></div>								    									    
									  	</div>
									  	<div class="card-footer">
									    	<button type="button" class="btn btn-primary" id="layerBtn">선택</button>
									    </div>
									</div>
								</div>			
							
								<div class="col-6">
									<div class="row border-right">
										<div class="col-12 border-bottom">
											<div class="float-left">
												<h5><strong>부서</strong></h5>
											</div>
										</div>
										
										<div class="col-12">
											<div id="gridDept"></div>
										</div>
										
										<div class="col-12">
											<table class="table table-borderless">
												<colgroup>
													<col width="100">
													<col width="">													
												</colgroup>
												<tr>
													<th>부서코드</th>
													<td><input type="text" class="form-control w100" id="deptCode" disabled="disabled" maxlength="4"></td>
												</tr>
												<tr>
													<th>부서명</th>
													<td><input type="text" class="form-control" id="deptName"></td>
												</tr>
												<tr>
													<th>부서장/사번</th>
													<td>
														<div class="form-inline">
															<input type="text" class="form-control mr-2" id="deptManager" disabled="disabled">
															<input type="text" class="form-control mr-2" id="deptManagerCode" disabled="disabled">
															<button type="button" class="btn-img" style="height: 27px;" onclick="showUser('dept')"><img src="/images/search.png" class="w18-h18"></button>
														</div>
													</td>													
												</tr>
											</table>										
										</div>
										
										<div class="col-12 mb-2">
											<div class="float-right">
												<button type="button" class="btn btn-outline-secondary" id="newBtnDept" onclick="newDept()">신규</button>
												<button type="button" class="btn btn-outline-secondary" id="saveBtnDept" onclick="saveDept()">저장</button>
												<button type="button" class="btn btn-outline-secondary" id="updateBtnDept" onclick="updateDept()" style="display: none;">수정</button>
											</div>
										</div>
									</div>										
								</div>
								
								<div class="col-6">
									<div class="row">
										<div class="col-12 border-bottom">
											<div class="float-left">
												<h5><strong>파트</strong></h5>
											</div>
										</div>
										
										<div class="col-12">
											<div id="gridPart"></div>
										</div>
										
										<div class="col-12">
											<table class="table table-borderless">
												<colgroup>
													<col width="100">
													<col width="">													
												</colgroup>
												<tr>
													<th>파트코드</th>
													<td><input type="text" class="form-control w100" id="partCode" disabled="disabled" maxlength="4"></td>
												</tr>
												<tr>
													<th>파트명</th>
													<td><input type="text" class="form-control" id="partName"></td>
												</tr>
												<tr>
													<th>파트장/사번</th>
													<td>
														<div class="form-inline">
															<input type="text" class="form-control mr-2" id="partManager" disabled="disabled">
															<input type="text" class="form-control mr-2" id="partManagerCode" disabled="disabled">
															<button type="button" class="btn-img" style="height: 27px;" onclick="showUser('part')"><img src="/images/search.png" class="w18-h18"></button>
														</div>
													</td>													
												</tr>
											</table>										
										</div>
										
										<div class="col-12 mb-2">
											<div class="float-right">
												<button type="button" class="btn btn-outline-secondary" id="newBtnPart" onclick="newPart()">신규</button>
												<button type="button" class="btn btn-outline-secondary" id="saveBtnPart" onclick="savePart()">저장</button>
												<button type="button" class="btn btn-outline-secondary" id="updateBtnPart" onclick="updatePart()" style="display: none;">수정</button>
											</div>
										</div>
									</div>											
								</div>
							</div>	<!-- End row -->
						</div>		<!-- End container -->							  		
				  	</div>			<!-- Tab:부서/파트 -->
				  	
				  	<div class="tab-pane fade" id="pos" role="tabpanel" aria-labelledby="pos-tab">
				  		<div class="container-fluid">
							<div class="row">	
								<div class="col-12 border-bottom">												
									<div class="float-left">
										<h5><strong>직급</strong></h5>
									</div>
								</div>
											
								<div class="col-12">
									<div id="gridPos" style="width: 350px;"></div>
								</div>
								
								<div class="col-12 pb-2">
									<div class="input-group" style="width: 350px;">
										<div class="input-group-prepend">
									    	<span class="input-group-text">직급유형</span>
									  	</div>
									  	<select class="form-control" id="posCategory"></select>
									  	<div class="input-group-append">
									  		<button type="button" class="btn btn-outline-secondary" onclick="updatePos()">변경</button>
									  	</div>									  	
									</div>								
								</div>										
							</div>
						</div>																			
				  	</div>	<!-- Tab:직급 -->
				  	
				  	<div class="tab-pane fade" id="doc" role="tabpanel" aria-labelledby="doc-tab">
				  		<div class="container-fluid">
							<div class="row">	
								<div class="col-12 border-bottom">												
									<div class="float-left">
										<h5><strong>결재권한등록</strong></h5>
									</div>
								</div>																			
							</div>
							
							<div class="row mt-2">								
								<div class="col-12">
									<div class="input-group" style="width: 350px;">
										<div class="input-group-prepend">
									    	<span class="input-group-text">문서유형</span>
									  	</div>
									  	<select class="form-control" id="document"></select>									  										  
									</div>		
								</div>																	
							</div>
							
							<div class="row">
								<div class="col-6">									
									<div class="row mt-2">
										<div class="col">									    	
									      	<div class="input-group">
												<div class="input-group-prepend">
											    	<span class="input-group-text">부서</span>
											  	</div>
											  	<select class="form-control" id="signDept" onchange="getSignPartList(this.value)"></select>									  										  
											</div>
									    </div>
									    
									    <div class="col">									    	
									      	<div class="input-group">
												<div class="input-group-prepend">
											    	<span class="input-group-text">파트</span>
											  	</div>
											  	<select class="form-control" id="signPart"></select>									  										  
											</div>
									    </div>
									    
									    <div class="col">
									    	<!-- *부서장 : <span id="signManager"></span>
									    	<input type="hidden" id="signManagerCode"> -->
									    	<button type="button" class="btn btn btn-secondary" onclick="initGridSignUser()">조회</button>
									    </div>
									</div>	<!-- End row -->
									
									<div class="row mt-2">
										<div class="col-12">
											<div class="border rounded" style="height: 250px; padding-left: 10px; padding-right: 10px;">
												<div id="gridSignUser"></div>
											</div>	
										</div>
									</div>	<!-- End row -->									
								</div>	
								
								<div class="col-6">
									<div class="row mt-2">
										<div class="col-12">
											<div class="custom-control custom-switch">										
												<input type="checkbox" class="custom-control-input" id="signPicker">
											  	<label class="custom-control-label" for="signPicker">결재라인 고정</label>
											  	(*결재라인 고정후에는 전자결재시 결재선 변경이 불가합니다.)
											</div>
										</div>
									</div>	<!-- End row -->
																		
									<div class="row mt-2">
										<div class="col-12">
											<div class="card-body text-secondary" style="overflow: auto">	        
										        <div class="container-fluid">
										        	<div class="row">
										        		<div class="col-6 border-right">
													        <div class="container-fluid">
														        <div class="row mb-2 bg-theme3">
																	<div class="col-1"></div>
																	<div class="col"><h6><strong>사번</strong></h6></div>
																	<div class="col"><h6><strong>성명</strong></h6></div>
																	<div class="col"><h6><strong>직책</strong></h6></div>
																</div>
													        </div>
													        <div class="container-fluid" id="userList" style="height: 200px;"></div>
												        </div>
												         
													    <div class="col-6">
													    	<ul class="list-group list-group-flush" id="signuserList"></ul>			    	
													    </div>
											        </div>
										        </div>
										    </div>	
										</div>																				
									</div>	<!-- End row -->									
								</div>								
							</div>	<!-- End row -->
														
							<div class="row mt-2">
								<div class="col-6">
									<div class="float-right">
										<button type="button" class="btn btn-outline-secondary" onclick="saveSignUser()">저장</button>
									</div>
								</div>
																
								<div class="col-6">
									<div class="float-right">
										<button type="button" class="btn btn-outline-secondary" onclick="saveSignLine()">저장</button>
									</div>
								</div>
							</div>	<!-- End row -->							
						</div>		<!-- End container -->																
				  	</div>			<!-- Tab:전자결재 -->
				</div>							
			</div>
		</div>	<!-- End row -->										
	</div>		<!-- End container -->			
	
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="/plugins/grid/tabulator/tabulator.js"></script>
	<script src="/js/admin.js"></script>
	<script th:inline="javascript">				
		var gridDept = null;
		var gridPart = null;
		var gridPos  = null;
		var gridUser = null;				
		var gridSignUser = null;
	
		let userCode = "";
		let userName = "";
	
		/*<![CDATA[*/
		const fullEmail = /*[[${data.email}]]*/;
		const logo = /*[[${data.cmpLogo}]]*/;		
		let posCategory = /*[[${data.posCategory}]]*/;
		/*]]>*/
		
		$(function() {
			$("#signPicker").change(function(){
				if ($("#signPicker").is(":checked")) {
					getSignUser();	
				} else {
					$("#userList").empty();
				}
			});
			
			initObj();
			initGridDept();
			initGridPart();
			initGridPos();
		});		
	</script>
</th:block>
</html>