<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{index}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<th:block layout:fragment="content-area">
	<div class="container-fluid">
		<div class="row border-bottom">
			<div class="col-12">
				<div class="float-left">
					<h4><strong>홍길동</strong>님의 전자결재</h4>
				</div>
			</div>
		</div>
		
		<div class="row">
	   		<div class="col-12">
		    	<table class="table">
		    		<colgroup>
		    			<col width="100">
		    			<col width="">
		    		</colgroup>
			    	<tr>
			      		<th>성명/사번</th>
			      		<td>홍길동 : 사번</td>
			    	</tr>
			    	<tr>
			    		<th>입사일</th>
			    		<td>2022.02.15</td>
			    	</tr>
			    	<tr>
			      		<th>문서구분</th>
			      		<td>
			      			<select class="form-control" onchange="loadDocTemplate(this.value)" style="width: 200px;">
	  							<option value="">선택</option>
	  							<option value="0001">휴가신청서</option>
	  							<option value="0002">제증명신청서</option>
							</select>
						</td>
			    	</tr>
				</table>
			</div>
		</div>
		
		<div id="docTemplate"></div>
	</div>
	
	<script>
		const loadDocTemplate = function(page) {
			let template = "";
			
			if (page == "0001") {
				template = "/document/docLeave.load";
			} else if (page == "0002") {
				template = "/document/docProof.load";
			}
			
			$("#docTemplate").load(template);
		};
		
		$(function() {
		
		});	
	</script>
</th:block>
</html>