<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{index}">
<head>
    <meta charset="UTF-8">
    <style>
    	.mySign { background-color: #ff6f61; }
    </style>
</head>
<th:block layout:fragment="content-area" th:with="id=${session.userCode}">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 border-bottom">
				<div class="float-left">
					<h4><strong>휴가신청서 / 신청자 : <span th:text="${docInfo.userName}"></span>(<span th:text="${docInfo.userCode}"></span>)</strong></h4>
				</div>
			</div>
		</div>
		
		<div th:if="${docType == '0001'}">	<!-- 제증명 -->
		</div>
		
		<div th:if="${docType == '0002'}">	<!-- 휴가신청서 -->
			<div class="row mt-2">								
				<div class="col-12">
					<div class="form-group row">
						<label for="staticEmail" class="col-sm-1 col-form-label">문서번호</label>
					    <div class="col-sm-10">
					    	<input type="text" readonly class="form-control-plaintext" id="docNo" th:value="${docInfo.docNo}">
					    </div>
					</div>	<!-- End form-group -->
					
					<div class="form-group row">								
						<label class="col-sm-1 col-form-label">신청일</label>
					    <div class="col-sm-3">
					    	<input type="text" readonly class="form-control-plaintext" th:value="${docInfo.requestYmd}">
					    </div>			
					    
					    <label class="col-sm-1 col-form-label">구분</label>
					    <div class="col-sm-1">
					    	<input type="text" readonly class="form-control-plaintext" th:value="${docInfo.leaveType}">			    	
					    </div>					    		    	   
					</div>	<!-- End form-group -->				
					
					<div class="form-group row">								
						<label class="col-sm-1 col-form-label">휴가기간</label>
					    <div class="col-sm-3">					    	
					    	<input type="text" readonly class="form-control-plaintext" th:value="${docInfo.leaveDay}">
					    </div>
					    
					    <label class="col-sm-1 col-form-label">총 사용일</label>
					    <div class="col-sm-1">
					    	<input type="text" readonly class="form-control-plaintext" th:value="${docInfo.leaveCnt}">
						</div>    					  												    	 
					</div>	<!-- End form-group -->
					
					<div class="form-group row">								
						<label class="col-sm-1 col-form-label">휴가사유</label>
					    <div class="col-sm-3">					    	
					    	<textarea readonly class="form-control-plaintext" rows="3" th:text="${docInfo.remark}"></textarea>					    	
					    </div>					    	   
					</div>	<!-- End form-group -->
					
					<div class="form-group row pt-2 border-top">
						<div class="col-sm-6">		
							<div class="form-group">
								<label><i class="fas fa-file-signature"></i>결재라인</label>											
			        			<ul class="list-group list-group-flush" th:each="sign : ${signList}">		        				
			        				<li class="list-group-item d-flex justify-content-between align-items-center" th:classappend="${sign.signUser == id ? 'mySign' : ''}">
			        					<img src="/images/down.png" class="w18-h18 mr-2">
			        					<span class="col" th:text="${sign.signName}"></span>							        					
			        					<span class="badge badge-primary badge-pill" th:text="${sign.docStatus}"></span>
			        					<span class="col" th:text="${sign.signYmd}"></span>               	
			        				</li>		        				
			        			</ul>
			        		</div>
			        	</div>
				 	</div>
				</div>
			</div>	<!-- End row -->
		</div>		
	</div>			<!-- End container -->
	
	<div class="pt-2 border-top">
		<div class="container-fluid">
			<div class="row" th:if="${docInfo.signSeq} == ${docInfo.lastSeq}">
				<div class="col-6">
					<div class="form-group">
						<label for="returnCause">반려사유</label>
						<textarea th:if="${docInfo.docStatus} == '0001'" class="form-control" id="returnCause" style="line-height: 3;"></textarea>
						<textarea th:unless="${docInfo.docStatus} == '0001'" th:text="${docInfo.returnCause}" class="form-control" disabled="disabled" style="line-height: 3;"></textarea>
					</div>			
				</div>
			</div>
			
			<div class="row">
				<div class="col-12">
					<th:block th:if="${docInfo.signSeq} == ${docInfo.lastSeq}">
						<button type="button" th:if="${docInfo.docStatus} == '0001'" class="btn btn-outline-secondary" onclick="returnDoc()">반려</button>
						<button type="button" th:unless="${docInfo.docStatus} == '0001'" class="btn btn-outline-secondary" disabled="disabled">반려</button>					
					</th:block>
					<button type="button" th:if="${docInfo.docStatus} == '0001'" class="btn btn-outline-secondary" onclick="signDoc()">결재</button>
					<button type="button" th:unless="${docInfo.docStatus} == '0001'" class="btn btn-outline-secondary" disabled="disabled">결재</button>
				</div>
			</div>
		</div>
	</div>	
	
	<script>
		function signDoc() {
			const params = {
				"docNo" : $("#docNo").val()
			};
			
			const data = commonCallAjax("/document/signDoc", params);
			
			if (data.code == "ok") {				
				alert("결재가 완료되었습니다.");								
			}
		} 
		
		function returnDoc() {
			const params = {
				"docNo" : $("#docNo").val(),
				"returnCause" : $("#returnCause").val()
			};
			
			const data = commonCallAjax("/document/returnDoc", params);
			
			if (data.code == "ok") {				
				alert("문서가 반려되었습니다.");							
			}
		} 
	
		$(function() {			
		
		});
	</script>
</th:block>
</html>