<!DOCTYPE html>
<html lang="ko"
	 xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
	<table class="table table-hover">
    	<colgroup>
    		<col width="100">
    		<col width="160">
    		<col width="100">
    		<col width="160">
    		<col width="100">
    		<col width="">
    	</colgroup>
		<tr class="border-top">
	    	<th>발생일수</th>
	    	<td><input type="text" class="form-control w80" id="createDay" disabled></td>
	      	<th>사용일수</th>
	      	<td><input type="text" class="form-control w80" id="useDay" disabled></td>
	      	<th>잔여일수</th>
	    	<td><input type="text" class="form-control w80" id="remainDay" disabled></td>
	    </tr>
		<tr>
	    	<th>신청일</th>
	    	<td>
	    		<input class="form-control" type="text" id="requestYmd" name="formDatePicker">
	    	</td>
	      	<th>구분</th>
	      	<td>
	      		<select class="form-control" id="leaveType">
					<option value="">선택</option>
					<option value="A001">년차</option>
					<option value="A002">병가</option>
					<option value="A003">훈련</option>
				</select>
	      	</td>
	      	<th>전일/반일</th>
	    	<td>
	    		<select class="form-control w100" id="dayType">
					<option value="">선택</option>
					<option value="D001">전일</option>
					<option value="D002">오전반차</option>
					<option value="D003">오후반차</option>
				</select>
	    	</td>
	    </tr>
	    <tr>
	    	<th>기간</th>
	    	<td colspan="5">
	    		<div class="form-inline">
					<div class="input-group">
			            <input class="form-control" type="text" id="startDay" name="formDatePicker" onchange="getLeaveUseday('s')" placeholder="시작일">			            
			        </div>~
			        <div class="input-group">
			            <input class="form-control" type="text" id="endDay" name="formDatePicker" onchange="getLeaveUseday('e')" placeholder="종료일">			            
			        </div>
			        (일수 :  <input class="form-control w80" type="text" id="leaveCnt" disabled>)
			    </div>
	    	</td>
	    </tr>
	    <tr>
	    	<th>휴가사유</th>
	    	<td colspan="5"><textarea class="form-control" id="remark" style="line-height: 3;"></textarea></td>
	    </tr>	    
	</table>
	
	<div class="card border-theme" style="width: 50%;">
		<div class="card-header">
			<div class="float-left">
				<h5><strong>결재자 지정</strong></h5>
			</div>					
		</div>
			    
	    <div class="card-body text-secondary" style="overflow: auto">	        
	        <div class="container-fluid">
	        	<div class="row">
	        		<div class="col-6">
				        <div class="container-fluid">
					        <div class="row mb-2 bg-theme3">
								<div class="col-1"></div>
								<div class="col"><h6><strong>사번</strong></h6></div>
								<div class="col"><h6><strong>성명</strong></h6></div>
							</div>
				        </div>
				        <div class="container-fluid" id="userList" style="height: 200px;"></div>
			        </div>
			         
				    <div class="col-6">
				    	<ul class="list-group list-group-flush" id="signuserList"></ul>			    	
				    </div>
		        </div>
	        </div>
	    </div>
	</div>
	
	<div class="mt-2 pt-2 border-top">
		<button type="button" class="btn btn-outline-secondary" onclick="saveDoc()">임시저장</button>
		<button type="button" class="btn btn-outline-secondary" onclick="reqeustDoc()">결재신청</button>
	</div>
	
	<script th:src="@{/plugins/moment/moment.min.js}" type="text/javascript" defer></script>
	<script>
		const initLeave = function() {
			const data = commonCallAjax("/document/getUserLeave", "");
			
			if (data.code == "ok") {				
				const result = data.result;
								
				$("#createDay").val(result.createDay);
				$("#useDay").val(result.useDay);
				$("#remainDay").val(result.remainDay);
				
				let userHtml = "";
				
				for(var i = 0; i < 5; i++){
			   		userHtml += "<div class='row mt-2 pb-1 border-bottom'>";
			   		userHtml += "	<div class='col-1 text-center'><div class='custom-control custom-checkbox pb-2'>";
			   		userHtml += "	  <input type='checkbox' class='custom-control-input' id='test"+i+"' data-user='홍길동' onclick='setSignUser(this)'>";
			   		userHtml += "	     <label class='custom-control-label' for='test"+i+"'></label>";
			   		userHtml += "	</div></div>";
			   		userHtml += "	<div class='col text-center'>사번</div>";
			   		userHtml += "	<div class='col text-center'>이름</div>";
			   		userHtml += "</div>";
			    }

			   	$("#userList").append(userHtml);
			}
		};
		
		const getLeaveUseday = function(gubun) {
			var startDay  = moment($("#startDay").val());
			var endDay    = moment($("#endDay").val());
			var vacDay    = endDay.diff(startDay, 'days') + 1;
			var dayType   = $("#dayType option:selected").val();
			var leaveType = $("#leaveType option:selected").val();

			if (leaveType == "" || dayType == "") {
				alert("구분, 전일/반일을 선택해주세요.");				
				return;
			}

			if (!isNaN(startDay) && !isNaN(endDay)) {
				if (endDay < startDay) {
					alert("종료일이 시작일보다 작을 수 없습니다.");
					$("#endDay").val("");
					return;
				} else {
					if(dayType != "D002" || dayType == "D003") {		// 반차인 경우
						if (gubun == "s") {
							$("#endDay").val($("#startDay").val());	
						} else {
							$("#startDay").val($("#endDay").val());
						}
						
						$("#leaveCnt").val(0.5);
					} else {
						$("#leaveCnt").val(vacDay);
					}
				}
			}
		};
		
		const setSignUser = function(e) {
			var userHtml = "";
			var liId = "#li-" + e.id;
			
			if($("input:checkbox[id='" + e.id + "']").is(":checked")) {
				const user = $("#" + e.id).data("user");
				
				userHtml += "<li class='list-group-item' id='li-" + e.id + "'>";
				userHtml += "	<img src='/images/down.png' class='w18-h18 mr-2'>" + user + "(<span class='badge badge-primary badge-pill'>" + e.id + "</span>)";
				userHtml += "</li>";
				
				$("#signuserList").append(userHtml);
			} else {
				$(liId).remove();
			}
		};
		
		const saveDoc = function() {
			const params = {
				"docType"   : "0002",
				"leaveType" : "A001",
				"dayType"   : "D001",
				"startDay"  : "2022-02-17",
				"endDay"    : "2022-02-17",
				"leaveCnt"  : "1",
				"remark"    : "테스트"								
			};
			
			const data = commonCallAjax("/document/saveDoc", params);
			
			if (data.code == "ok") {				
				alert("임시저장 되었습니다.");
			}
		};
		
		const requestDoc = function() {
			const params = {
				"docType"   : "0002",
				"leaveType" : "A001",
				"dayType"   : "D001",
				"startDay"  : "2022-02-17",
				"endDay"    : "2022-02-17",
				"leaveCnt"  : "1",
				"remark"    : "테스트",
				"signUser"  : "001,002"									
			};
			
			const data = commonCallAjax("/document/requestDoc", params);
			
			if (data.code == "ok") {				
				alert("임시저장 되었습니다.");
			}
		};
		
		$(function() {			
			$("input[name=formDatePicker]").each(function(index, item){
				$("#" + item.id).datepicker(commonDatePickerOpt);
		    });
			
			const today = commonGetToday();
			const after = commonDateCalcurator(today, +1, "dd");
			$("#requestYmd").val(today);
			$("#startDay").val(today);
			$("#endDay").val(after);
			
			initLeave();
		});
	</script>
</body>
</html>