<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{index}">
<head>
    <meta charset="UTF-8">
    <style>
    	.click {
    		background-color: #ff7062!important;
    	}
    	.list-group-horizontal li:hover {
    		cursor: pointer;
    	}
    	    	
    	#docListSpace div {
			cursor: pointer;
			line-height: 2.2;
		}		
		#docListSpace div:hover {
			background-color: #ebebfc;
		    color: #32324e;
		    font-weight: bold;
		}						
    </style>
</head>      
<th:block layout:fragment="content-area">
	<div class="container-fluid">
		<div class="row border-bottom">
			<div class="col-12">
				<div class="float-left">
					<h4><strong>홍길동</strong>님의 전자결재</h4>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-12">
				<table class="table table-borderless">
				  	<colgroup>
			   			<col width="100">
			   			<col width="">
			   		</colgroup>
					<tr>
						<th>기안</th>
						<th>
							<a href="/document/create">
								<button type="button" class="btn btn-outline-secondary">문서작성</button>
							</a>
						</th>
					</tr>
					<tr>
						<th>조회기간</th>
						<td>							
							<div class="form-inline">
								<select class="form-control w100 mr-2" id="viewType">
									<option value="all">전체</option>
									<option value="request">신청일</option>
									<option value="sign">결재일</option>
								</select>
								
								<div class="input-group" style="width: 100px;">
						            <input type="text" class="form-control" id="startDay" name="formDatePicker" placeholder="yyyy-mm-dd">										            
						        </div>~
						        <div class="input-group" style="width: 100px;">
						            <input type="text" class="form-control" id="endDay" name="formDatePicker" placeholder="yyyy-mm-dd">										            
						        </div>
						    </div>
						</td>
					</tr>
					<tr>
						<th>결재상태</th>
						<td>
							<select class="form-control w100" id="docStatus">
								<option value="all">전체</option>
								<option value="0001">결재대기</option>
								<option value="0002">결재완료</option>								
								<option value="0003">반려</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>문서조회</th>
						<td>
							<ul class="list-group list-group-horizontal">
							  <li class="list-group-item a-basic" data-type="my">내문서함</li>
							  <li class="list-group-item a-basic" data-type="sign">결재문서</li>
							  <li class="list-group-item a-basic" data-type="all">문서현황</li>
							</ul>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
		
	<div class="container-fluid">
		<div class="row bg-theme3">
			<div class="col-2"><h6><strong>문서번호</strong></h6></div>
			<div class="col-2"><h6><strong>유형</strong></h6></div>
			<div class="col-2"><h6><strong>작성자</strong></h6></div>
			<div class="col-2"><h6><strong>신청일</strong></h6></div>
			<div class="col-2"><h6><strong>결재일</strong></h6></div>
			<div class="col-2"><h6><strong>결재상태</strong></h6></div>
		</div>
	</div>

	<div class="container-fluid" id="docListSpace">	   		
   		<div class="row border-bottom" onclick="getDocInfo()" th:each="doc : ${resultList}">
	   		<div class="col-2 text-center"><span th:text="${doc.docNo}"></span></div>	   	
	   		<div class="col-2 text-center"><span th:text="${doc.docType}"></span></div>
	   		<div class="col-2 text-center"><span th:text="${doc.userName}"></span></div>
	   		<div class="col-2 text-center"><span th:text="${doc.requestYmd}"></span></div>
	   		<div class="col-2 text-center"><span th:text="${doc.signYmd}"></span></div>
	   		<div class="col-2 text-center"><span th:text="${doc.docStatus}"></span></div>
	   	</div>
	</div>
	
	<script>
		const getDocList = function() {
			const docStatus = $("#docStatus option:selected").val();
			let viewType = "";
			
			$(".list-group-item").each(function(index, item){ 
				if ($(this).hasClass("click")) { 					
					viewType = $(this).data("type");
				} 
			});
			
			const params = {
				"viewType"	: $("#viewType").val(),
				"startDay"  : $("#startDay").val(),
				"endDay"    : $("#endDay").val(),
				"docStatus" : docStatus,
				"gubun" 	: viewType
			};
			
			const data = commonCallAjax("/document/getDocList", params);
		
			if (data.code == "ok") {
				const resultList = data.resultList;
			   	let docHtml = "";

			   	for (let i = 0; i < resultList.length; i++) {
			   		docHtml += "<div class='row border-bottom'>";
				   	docHtml += "	<div class='col-2 text-center'>"+ resultList[i].docNo +"</div>";
				   	docHtml += "	<div class='col-2 text-center'>"+ resultList[i].docType +"</div>";
				   	docHtml += "	<div class='col-2 text-center'>"+ resultList[i].userName +"</div>";
				   	docHtml += "	<div class='col-2 text-center'>"+ resultList[i].requestYmd +"</div>";
				   	docHtml += "	<div class='col-2 text-center'>"+ resultList[i].signYmd +"</div>";
				   	docHtml += "	<div class='col-2 text-center'>"+ resultList[i].docStatus +"</div>";
				   	docHtml += "</div>";
			    }
		
			   	$("#docListSpace").empty();
			   	$("#docListSpace").append(docHtml);
			}
		};
		
		$(function() {			
			$("input[name=formDatePicker]").each(function(index, item){
				$("#" + item.id).datepicker(commonDatePickerOpt);
		    });
			
			//날짜 셋팅
			const today = commonGetToday();
			const beforeMonth = commonDateCalcurator(today, -1, "mm");
			$("#startDay").val(beforeMonth);
			$("#endDay").val(today);
			
			$(".list-group-item").each(function(index, item){
				$(this).on("click", function(event){
					$(".list-group-item").removeClass("click");
					$(this).addClass("click");
					getDocList();
				});
			});			
		});
	</script>
</th:block>
</html>