<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="notice">

	<select id="getNoticeList" resultType="LowerKeyMap">
		SELECT 
			   A.CMPCD
			 , A.NOTICENO
			 , A.NOTICETITLE
			 , B.USERCD
			 , B.USERNAME
			 , DATE_FORMAT(A.NOTICEDATE, '%Y.%m.%d %H:%i') NOTICEDATE		 
			 , A.VIEWCNT
		  FROM PM_NOTICE A
		  	 , PM_USER B		  	  
		 WHERE A.CMPCD  = #{cmpcd}
		   AND A.CMPCD  = B.CMPCD
		   AND A.USERCD = B.USERCD
		 ORDER BY A.NOTICENO DESC
		 LIMIT #{startNum}, #{nowPageCnt}
	</select>

	<insert id="writeNotice" parameterType="NoticeVO">
		INSERT INTO PM_NOTICE(
		      CMPCD
		    , NOTICENO
			, NOTICETITLE
			, NOTICECONTENT
			, USERCD
			, NOTICEDATE
			, NOTICEFILE
			, VIEWCNT 
		)
		VALUES(
			  #{cmpcd}
			, (
				SELECT IFNULL(MAX(A.NOTICENO), 0) + 1 CNT
	     		  FROM PM_NOTICE A
	    		 WHERE A.CMPCD = #{cmpcd}
	    	   )
			, #{noticetitle}
			, #{noticecontent}
			, #{usercd}
			, NOW()
			, #{noticefile}
			, 0
		)	
	</insert>

	<select id="getNoticeContent" resultType="LowerKeyMap" parameterType="NoticeVO">
		SELECT 
			  	A.NOTICENO
			  , A.NOTICETITLE
			  , A.NOTICECONTENT
			  , DATE_FORMAT(A.NOTICEDATE, '%Y.%m.%d %H:%i') NOTICEDATE
			  , A.NOTICEFILE
			  , B.USERCD
			  , B.USERNAME
			  , A.VIEWCNT
		 FROM PM_NOTICE A
		 	, PM_USER B
		WHERE A.CMPCD    = #{cmpcd}
		  AND A.CMPCD    = B.CMPCD
		  AND A.USERCD   = B.USERCD 
		  AND A.NOTICENO = #{noticeno}
	</select>
	
</mapper>