<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="paging">

	<select id="getMailListTotalCount" resultType="Integer" parameterType="hashMap">
		SELECT COUNT(MAILNO) CNT
		  FROM PM_MAIL
		 WHERE CMPCD      = #{cmpcd}
		   AND USERCD     = #{usercd}
		   AND MAILSTATUS = #{mailStatus}
	</select>
	
	<select id="garbageListTotalCount" resultType="Integer" parameterType="hashMap">
		SELECT COUNT(MAILNO) CNT
		  FROM PM_MAIL
		 WHERE CMPCD      = #{cmpcd}
		   AND (FROMUSERCD = #{usercd} OR USERCD = #{usercd})
		   AND MAILSTATUS = 'P'
	</select>
	
	<select id="setMailListTotalCount" resultType="Integer" parameterType="hashMap">
		SELECT COUNT(MAILNO) CNT
		  FROM PM_MAIL
		 WHERE CMPCD     = #{cmpcd} 
		   AND USERCD    = #{usercd}		   
	</select>
</mapper>