<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{index}">
<head>
    <meta charset="UTF-8">
    
	<link rel="stylesheet" href="/plugins/grid/tabulator/tabulator_semanticui.min.css" type="text/css"/>    
</head>      
<th:block layout:fragment="content-area">
	<div class="container-fluid">
		<div class="row pb-2 border-bottom">
			<div class="col-12">
				<button type="button" class="btn btn-outline-secondary">엑셀 일괄등록</button>
			</div>
		</div>
		
		<div class="row mt-2" id="divUser">
			<div class="col-3">
				<img src="">
				<div class="custom-file">
					<input type="file" class="custom-file-input" id="userImg">
				  	<label class="custom-file-label" for="userImg" data-browse="이미지">첨부하기</label>
				</div>
			</div>
			
			<div class="col-9">
				<div class="container-fluid">					
					<div class="row">
						<div class="col-12">
							<div class="form-group row">
								<label for="staticEmail" class="col-sm-1 col-form-label">이름</label>
							    <div class="col-sm-2">
							    	<input type="text" class="form-control" id="userName">
							    </div>
							    
							    <label for="inputPassword" class="col-sm-1 col-form-label">생년월일</label>
							    <div class="col-sm-2">
							    	<input type="text" class="form-control" id="birthYmd" name="formDatePicker">
							    </div>
							    
							    <label for="staticEmail" class="col-sm-1 col-form-label">성별</label>
							    <div class="col-sm-2">
							    	<div class="pt-2">
								    	<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="gender" id="male" value="male" checked="checked">
										  	<label class="form-check-label" for="mail">남</label>
										</div>
										<div class="form-check form-check-inline">
										  	<input class="form-check-input" type="radio" name="gender" id="female" value="female">
										  	<label class="form-check-label" for="femail">녀</label>
										</div>
									</div>
							    </div>
							</div>
							
							<div class="form-group row">
								<label for="inputPassword" class="col-sm-1 col-form-label">연락처</label>
							    <div class="col-sm-3">
							    	<input type="text" class="form-control" id="mobile" placeholder="휴대폰 번호 '-'표 없이 입력해주세요.">
							    </div>
							    
							    <label for="inputPassword" class="col-sm-1 col-form-label">이메일</label>
							    <div class="col-sm-4">
							    	<div class="form-row align-items-center">
									    <div class="col">									    	
									      	<input type="text" class="form-control" id="email">
									    </div>
									    <div class="col">									    	
									      	<div class="input-group">
									        	<div class="input-group-prepend">
									          		<div class="input-group-text">@</div>
									        	</div>
									        	<select class="form-control" id="emailServer">
									        		<option value="">선택</option>
									        		<option value="gmail.com">gmail.com</option>
									        		<option value="naver.com">naver.com</option>
									        		<option value="hanmail.net">hanmail.net</option>
									        		<option value="daum.net">daum.net</option>
									        		<option value="nate.com">nate.com</option>
									        		<option value="hotmail.com">hotmail.com</option>
									        	</select>
									      	</div>
									    </div>									    
									 </div>
							    </div>							    
							</div>
							
							<div class="form-group row">
								<label for="inputPassword" class="col-sm-1 col-form-label">부서</label>
							    <div class="col-sm-3">
							    	<select class="form-control" id="dept">
							    		<option value="">선택</option>
							    		<option value="1">부서1</option>
							    		<option value="2">부서2</option>
							    		<option value="3">부서3</option>
							    	</select>
							    </div>
							    
							    <label for="inputPassword" class="col-sm-1 col-form-label">직책</label>
							    <div class="col-sm-4">
							    	<select class="form-control" id="jobPos">
							    		<option value="">선택</option>
							    		<option value="1">직책1</option>
							    		<option value="2">직책2</option>
							    		<option value="3">직책3</option>
							    	</select>
							    </div>				    				    
							</div>
							
							<div class="form-group row">
								<label for="inputPassword" class="col-sm-1 col-form-label">입사일</label>
							    <div class="col-sm-3">
							    	<input type="text" class="form-control" id="enterYmd" name="formDatePicker">
							    </div>
							    
							    <label for="inputPassword" class="col-sm-1 col-form-label">퇴사일</label>
							    <div class="col-sm-4">
							    	<input type="text" class="form-control" id="retireYmd" name="formDatePicker">
							    </div>				    				    
							</div>
						</div>
					</div>	<!-- End row -->
				</div>		<!-- End container -->
			</div>
		</div>	<!-- End row -->
		
		<div class="row">
			<div class="col-12 border-bottom pb-3">
				<div class="float-right">
					<button type="button" class="btn btn-outline-secondary" id="newBtn">신규</button>
					<button type="button" class="btn btn-outline-secondary" id="saveBtn" onclick="saveUser()">저장</button>
					<button type="button" class="btn btn-outline-secondary" id="updateBtn" style="display: none;">수정</button>
				</div>
			</div>			
		</div>	<!-- End row -->
				
		<div class="row">
			<div class="col-12">
				<div id="gridUser"></div>
			</div>
		</div>	<!-- End row -->
	</div>		<!-- End container -->
	
	<script src="/plugins/grid/tabulator/tabulator.min.js"></script>	
	<script src="/plugins/grid/tabulator/xlsx.full.min.js"></script>
	<script>
		var grid = null;
		
		const saveUser = function() {			
			const email = $("#email").val().replace(/\@/g,'') + "@" + $("#emailServer").val();
			
			const params = {
				"userName"  : $("#userName").val(),
				"birthYmd"  : $("#birthYmd").val(),
				"gender"    : $("input[name=gender]:checked").val(),
				"mobile"    : $("#mobile").val(),
				"email"     : email,
				"dept" 	    : $("#dept").val(),
				"jobPos"    : $("#jobPos").val(),
				"enterYmd"  : $("#enterYmd").val(),
				"retireYmd" : $("#retireYmd").val()
			};
			const data = commonCallAjax("/user/save", params);
			
			if (data.code == "ok") {				
				alert("등록되었습니다.");
				
				commonResetForm("divUser");
			}
		};
		
		const initGrid = function() {
			const data = commonCallAjax("/user/getUserList", "");
			
			if (data.code == "ok") {
				const result = data.resultList;
				
				if (result.length > 0) {
		        	//Grid draw
					grid = new Tabulator("#gridUser", {
						layout: "fitDataTable",
						height: "450px",	    
					    columns: [
					    	{title: "사번"     , field: "userCode"  , width: 100},
					    	{title: "이름"	   , field: "userName"  , width: 100},
						    {title: "생년월일" , field: "birthYmd"  , width: 120, hozAlign: "center"},
						    {title: "성별"	   , field: "gender"    , width: 100, hozAlign: "center"},
						    {title: "연락처"   , field: "mobile"    , width: 150},
						    {title: "이메일"   , field: "email"     , width: 250},
						    {title: "부서"	   , field: "dept"      , width: 150},
						    {title: "직급"	   , field: "jobPos"    , width: 150},
						    {title: "입사일"   , field: "enterYmd"  , width: 120, hozAlign: "center"},
						    {title: "퇴사일"   , field: "retireYmd" , width: 120, hozAlign: "center"}						    
					    ]			  
					});		        	

					//Data set
					grid.on("tableBuilt", function(){				
						grid.setData(result);
						grid.on("rowClick", function(e, row) {			    				    				    				    	
					    	//e - click object
					        //row - row component
					        const rowData = row._row.data;
					    	const gender = rowData.gender == "남" ? "male" : "female";				    	
					    	const email = rowData.email.split("@");
					    						    	
					    	$("#userName").val(rowData.userName);
					        $("#birthYmd").val(rowData.birthYmd);
					        $("input:radio[id='"+ gender +"']").prop("checked", true);
					        $("#mobile").val(rowData.mobile);
					        $("#email").val(email[0]);
					        $("#emailServer").val(email[1]);
					        $("#dept").val(rowData.dept);
					        $("#jobPos").val(rowData.jobPos);
					        $("#enterYmd").val(rowData.enterYmd);
					        $("#retireYmd").val(rowData.retireYmd);
					        
					        $("#saveBtn").hide();
					        $("#updateBtn").show();
					    });
					});					
		        }	
			}					    	        
		};
		
		$(function() {
			$("#newBtn").on("click", function(){
				$("#updateBtn").hide();
				$("#saveBtn").show();
				
				commonResetForm("divUser");
			});
			$("input[name=formDatePicker]").each(function(index, item){
				$("#" + item.id).datepicker(commonDatePickerOpt);
		    });
			
			initGrid();						
		});
	</script>
</th:block>
</html>