<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{index}">
<head>
    <meta charset="UTF-8">
    
	<link rel="stylesheet" href="/plugins/grid/tabulator/tabulator_semanticui.min.css" type="text/css"/>    
</head>      
<th:block layout:fragment="content-area">
	<div class="container-fluid">
		<div class="row pb-2 border-bottom">
			<div class="col-12">
				<button type="button" class="btn btn-outline-secondary">엑셀 일괄등록</button>
			</div>
		</div>
		
		<div class="row mt-2" id="divUser">
			<div class="col-3 text-center">
				<p>
					<img class="img-thumbnail" src="/images/userImg.png" id="userImg" style="width: 150px; height: 150px;">
					<input type="hidden" id="imgSource" value="">
				</p>
				
				<div class="ipt-file">
			    	<input type="text" readonly="readonly" id="fileName">
			        <label>
			            업로드
			            <input type="file" onchange="readUserImg(this)">
			        </label>
			    </div>
			</div>
			
			<div class="col-9">
				<div class="container-fluid">					
					<div class="row">
						<div class="col-12">
							<div class="form-group row">								
								<label class="col-sm-1 col-form-label">이름/사번</label>
							    <div class="col-sm-3">
							    	<div class="form-inline">
								    	<input type="text" class="form-control" id="userName" style="width: 100px;"> / 
								    	<input type="text" class="form-control" id="userCode" style="width: 100px;" disabled="disabled">
							    	</div>
							    </div>
							    
							    <label class="col-sm-1 col-form-label">생년월일</label>
							    <div class="col-sm-2">
							    	<input type="text" class="form-control" id="birthYmd" name="formDatePicker">
							    </div>
							    
							    <label class="col-sm-1 col-form-label">성별</label>
							    <div class="col-sm-2">
							    	<div class="pt-2">
								    	<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="gender" id="male" value="male" checked="checked">
										  	<label class="form-check-label" for="mail">남</label>
										</div>
										<div class="form-check form-check-inline">
										  	<input class="form-check-input" type="radio" name="gender" id="female" value="female">
										  	<label class="form-check-label" for="femail">녀</label>
										</div>
									</div>
							    </div>
							</div>
							
							<div class="form-group row">
								<label for="inputPassword" class="col-sm-1 col-form-label">연락처</label>
							    <div class="col-sm-3">
							    	<input type="text" class="form-control" id="mobile" placeholder="휴대폰 번호 '-'표 없이 입력해주세요.">
							    </div>
							    
							    <label class="col-sm-1 col-form-label">이메일</label>
							    <div class="col-sm-7">
							    	<div class="form-row align-items-center">
									    <div class="col">									    	
									      	<input type="text" class="form-control" id="email">
									    </div>
									    <div class="col">									    	
									      	<div class="input-group">
									        	<div class="input-group-prepend">
									          		<div class="input-group-text">@</div>
									        	</div>
									        	<select class="form-control" id="emailServer"></select>
									      	</div>
									    </div>									    
									 </div>
							    </div>							    
							</div>
							
							<div class="form-group row">
								<label class="col-sm-1 col-form-label">부서</label>
							    <div class="col-sm-2">
							    	<select class="form-control" id="deptCode" onchange="getPartList(this.value)"></select>
							    </div>

							    <label class="col-sm-1 col-form-label">파트</label>
							    <div class="col-sm-2">
							    	<select class="form-control" id="partCode"></select>
							    </div>
							    
							    <label class="col-sm-1 col-form-label">직책</label>
							    <div class="col-sm-2">
							    	<select class="form-control" id="jobPos"></select>
							    </div>
							    
							    <label class="col-sm-1 col-form-label">사용권한</label>
							    <div class="col-sm-2">
							    	<select class="form-control" id="userAuth"></select>							    	
							    </div>
							</div>
							
							<div class="form-group row">
								<label class="col-sm-1 col-form-label">입사일</label>
							    <div class="col-sm-2">
							    	<input type="text" class="form-control" id="enterYmd" name="formDatePicker">
							    </div>
							    
							    <label class="col-sm-1 col-form-label">퇴사일</label>
							    <div class="col-sm-2">
							    	<input type="text" class="form-control" id="retireYmd" name="formDatePicker">
							    </div>							    			    				   
							</div>
						</div>
					</div>	<!-- End row -->
				</div>		<!-- End container -->
			</div>
		</div>	<!-- End row -->
		
		<div class="row">
			<div class="col-12 border-bottom pb-3">
				<div class="float-right">
					<button type="button" class="btn btn-outline-secondary" id="newBtn">신규</button>
					<button type="button" class="btn btn-outline-secondary" id="saveBtn" onclick="saveUser()">저장</button>
					<button type="button" class="btn btn-outline-secondary" id="updateBtn" onclick="updateUser()" style="display: none;">수정</button>
				</div>
			</div>			
		</div>	<!-- End row -->
				
		<div class="row">
			<div class="col-12">
				<div id="gridUser"></div>
			</div>
		</div>	<!-- End row -->
	</div>		<!-- End container -->
	
	<script src="/plugins/grid/tabulator/tabulator.min.js"></script>	
	<script src="/plugins/grid/tabulator/xlsx.full.min.js"></script>
	<script src="/js/user.js"></script>
	<script>
		var grid = null;		
		
		$(function() {
			$("#newBtn").on("click", function(){
				$("#updateBtn").hide();
				$("#saveBtn").show();
				
				commonResetForm("divUser");
				
				$("#enterYmd").val(commonGetToday());
				$("#userImg").attr("src", "/images/userImg.png");
			});
			$("input[name=formDatePicker]").each(function(index, item){
				$("#" + item.id).datepicker(commonDatePickerOpt);
		    });						
			
			initObj();
			initGrid();			
		});
	</script>
</th:block>
</html>