<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.planm.user.dao.UserDao">

	<select id="getUserList" parameterType="String" resultType="com.app.planm.user.vo.UserVO">
		SELECT USER_CODE
			 , USER_NAME
			 , DATE_FORMAT(BIRTH_YMD,'%Y-%m-%d') BIRTH_YMD			 
			 , IF(GENDER='male','남','여') GENDER
			 , MOBILE
			 , EMAIL
			 , DEPT
			 , JOB_POS
			 , DATE_FORMAT(ENTER_YMD,'%Y-%m-%d') ENTER_YMD
			 , DATE_FORMAT(RETIRE_YMD,'%Y-%m-%d') RETIRE_YMD
			 , USER_IMG
		  FROM PM_USER
		 WHERE CMP_CODE = #{cmpCode}
	</select>

	<select id="getUserInfo" parameterType="com.app.planm.user.vo.UserDTO" resultType="com.app.planm.user.vo.UserVO">
		SELECT USER_CODE
			 , USER_NAME
			 , DATE_FORMAT(ENTER_YMD, '%Y-%m-%d') ENTER_YMD
		  FROM PM_USER	
		 WHERE CMP_CODE  = #{cmpCode}
		   AND USER_CODE = #{userCode}
	</select>
	
	<insert id="saveUser" parameterType="com.app.planm.user.vo.UserDTO">
		INSERT INTO PM_USER (
			  CMP_CODE
			, USER_CODE
			, PASSWORD
			, USER_NAME
			, USER_AUTH
			, BIRTH_YMD
			, GENDER
			, MOBILE
			, EMAIL
			, DEPT
			, JOB_POS
			, USER_IMG
			, ENTER_YMD
			, RETIRE_YMD
			, SALT
		) VALUES (
			  #{cmpCode}
			, (
 			  SELECT RN.USER_CODE
				FROM (
				  	  SELECT CMP_CODE
							 , LPAD(FLOOR(RAND() * USER_CODE_RULE), LENGTH(USER_CODE_RULE), '0') USER_CODE
						  FROM PM_COMPANY 
						 WHERE CMP_CODE = #{cmpCode}
					   ) RN LEFT OUTER JOIN PM_USER PU	   
						 ON RN.CMP_CODE  = PU.CMP_CODE
						AND RN.USER_CODE = PU.USER_CODE
				 WHERE PU.USER_CODE IS NULL
			  )
			, #{password}
			, #{userName}
			, #{userAuth}
			, REPLACE(#{birthYmd},'-','')
			, #{gender}
			, #{mobile}
			, #{email}
			, #{dept}
			, #{jobPos}
			, #{userImg}
			, REPLACE(#{enterYmd},'-','')
			, REPLACE(#{retireYmd},'-','')
			, #{salt}
		)
	</insert>
	
</mapper>