<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.planm.user.dao.UserDao">

	<select id="getUserList" parameterType="String" resultType="com.app.planm.user.vo.UserVO">
		SELECT PU.USER_CODE
			 , PU.USER_NAME
			 , DATE_FORMAT(PU.BIRTH_YMD,'%Y-%m-%d') BIRTH_YMD			 
			 , IF(PU.GENDER='male','남','여') GENDER
			 , PU.MOBILE
			 , PU.EMAIL
			 , PU.DEPT_CODE
             , DT.DEPT_NAME
			 , PU.PART_CODE
             , DT.PART_NAME
			 , PU.JOB_POS
             , (SELECT CHILD_NAME FROM CODE_CHILD WHERE PARENT_CODE='POS001' AND CHILD_CODE=PU.JOB_POS) JOB_NAME
			 , DATE_FORMAT(PU.ENTER_YMD,'%Y-%m-%d') ENTER_YMD
			 , DATE_FORMAT(PU.RETIRE_YMD,'%Y-%m-%d') RETIRE_YMD
			 , PU.USER_IMG
		  FROM PM_USER PU
               LEFT OUTER JOIN (SELECT PD.CMP_CODE
									 , PD.DEPT_CODE
									 , PD.DEPT_NAME
									 , PDP.PART_CODE
									 , PDP.PART_NAME
								 FROM PM_DEPT PD
									  LEFT OUTER JOIN PM_DEPT_PART PDP
										ON PD.CMP_CODE  = PDP.CMP_CODE
									   AND PD.DEPT_CODE = PDP.DEPT_CODE
								WHERE PD.CMP_CODE = #{cmpCode}) DT
                 ON PU.CMP_CODE  = DT.CMP_CODE
				AND PU.DEPT_CODE = DT.DEPT_CODE
                AND PU.PART_CODE = DT.PART_CODE
		 WHERE PU.CMP_CODE = #{cmpCode}
	</select>

	<select id="getUserInfo" parameterType="com.app.planm.user.vo.UserDTO" resultType="com.app.planm.user.vo.UserVO">
		SELECT USER_CODE
			 , USER_NAME
			 , DATE_FORMAT(ENTER_YMD, '%Y-%m-%d') ENTER_YMD
		  FROM PM_USER	
		 WHERE CMP_CODE  = #{cmpCode}
		   AND USER_CODE = #{userCode}
	</select>
	
	<insert id="saveUser" parameterType="com.app.planm.user.vo.UserDTO">
		INSERT INTO PM_USER (
			  CMP_CODE
			, USER_CODE
			, PASSWORD
			, USER_NAME
			, USER_AUTH
			, BIRTH_YMD
			, GENDER
			, MOBILE
			, EMAIL
			, DEPT_CODE
			, PART_CODE
			, JOB_POS
			, USER_IMG
			, ENTER_YMD
			, RETIRE_YMD
			, SALT
		) VALUES (
			  #{cmpCode}
			, (
 			  SELECT RN.USER_CODE
				FROM (
				  	  SELECT CMP_CODE
							 , LPAD(FLOOR(RAND() * USER_CODE_RULE), LENGTH(USER_CODE_RULE), '0') USER_CODE
						  FROM PM_COMPANY 
						 WHERE CMP_CODE = #{cmpCode}
					   ) RN LEFT OUTER JOIN PM_USER PU	   
						 ON RN.CMP_CODE  = PU.CMP_CODE
						AND RN.USER_CODE = PU.USER_CODE
				 WHERE PU.USER_CODE IS NULL
			  )
			, #{password}
			, #{userName}
			, #{userAuth}
			, REPLACE(#{birthYmd},'-','')
			, #{gender}
			, #{mobile}
			, #{email}
			, #{deptCode}
			, #{partCode}
			, #{jobPos}
			, #{userImg}
			, REPLACE(#{enterYmd},'-','')
			, REPLACE(#{retireYmd},'-','')
			, #{salt}
		)
	</insert>
	
	<update id="updateUser" parameterType="com.app.planm.user.vo.UserDTO">
		UPDATE PM_USER 
		   SET USER_NAME  = #{userName}		   	 
		   	 , BIRTH_YMD  = REPLACE(#{birthYmd},'-','')
		   	 , GENDER     = #{gender}
		   	 , MOBILE 	  = #{mobile}
		   	 , EMAIL 	  = #{email}
		   	 , DEPT_CODE  = #{deptCode}
		   	 , PART_CODE  = #{partCode}
		   	 , JOB_POS    = #{jobPos}
		   	 , USER_IMG   = #{userImg}
		   	 , ENTER_YMD  = REPLACE(#{enterYmd},'-','')
		   	 , RETIRE_YMD = REPLACE(#{retireYmd},'-','')
		 WHERE CMP_CODE   = #{cmpCode}
		   AND USER_CODE  = #{userCode}		
	</update>
	
</mapper>