<!DOCTYPE html>
<html lang="ko"
	 xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>PLAN-M : 일정관리의 모든 것</title> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <!-- header area -->
	<th:block th:replace="include/common::common-area"></th:block>	
</head>
<body class="d-flex flex-column h-100" style="overflow: hidden">
	<!-- header area -->
	<header th:replace="include/header::header-area"></header>
	
	<section role="main" class="flex-shrink-0">
		<div class="container-fluid">
			<div class="row m-auto" id="content">
				<div class="col-2" id="left">
					<!-- menu area -->
					<th:block th:replace="include/left::left-area"></th:block>	
				</div>

				<div class="col-10" id="body">
					<!-- content area -->
					<th:block layout:fragment="content-area"></th:block>		
				</div>
			</div>
		</div>
	</section>	
	
	<!-- footer area -->
	<footer th:replace="include/footer::footer-area"></footer>
	
	<script>
		const getWindowSize = function() {
		    let width = 0, height = 0;
		
		    if (typeof(window.innerWidth) == 'number') {
		    	width  = window.innerWidth;
		        height = window.innerHeight;
		    } else if (document.documentElement && (document.documentElement.clientWidth || document.documentElement.clientHeight)) {
		        width  = document.documentElement.clientWidth;
		        height = document.documentElement.clientHeight;
		    } else if (document.body && (document.body.clientWidth || document.body.clientHeight)) {
		        width  = document.body.clientWidth;
		        height = document.body.clientHeight;
		    }
		
		    return {width : width, height : height};
		};			
		
		$(document).ready(function() {
			var size = getWindowSize();	// 화면 사이즈 구하기
			var tempHeight = $("header").outerHeight() + $("footer").height();
			var contentHeight = size.height - tempHeight;
		
			$("#content").height(contentHeight);
			
			$(window).on({		
				resize: function() {			// 화면의 크기가 변경될 때 content 높이를 조절한다.
					size 	   = getWindowSize();
					tempHeight = $("header").outerHeight() + $("footer").outerHeight();
					contentHeight = size.height - tempHeight;
					$("#content").height(contentHeight);
				}
			});
		});
	</script>	
</body>
</html>