<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.planm.document.dao.DocumentDao">

	<select id="getDocumentList" parameterType="com.app.planm.document.vo.DocumentDTO" resultType="com.app.planm.document.vo.DocumentVO">
		SELECT PD.DOC_NO
			 , PD.USER_CODE
			 , PU.USER_NAME
			 , (SELECT CHILD_NAME FROM CODE_CHILD A WHERE PARENT_CODE='DOC001' AND CHILD_CODE=PD.DOC_TYPE) DOC_TYPE
			 , (SELECT CHILD_NAME FROM CODE_CHILD A WHERE PARENT_CODE='DOC002' AND CHILD_CODE=PD.DOC_STATUS) DOC_STATUS			 
			 , DATE_FORMAT(PD.REQUEST_YMD,'%Y-%m-%d') REQUEST_YMD
			 , DATE_FORMAT(PD.SIGN_YMD,'%Y-%m-%d') SIGN_YMD
		  FROM PM_DOCUMENT PD
		  	   LEFT OUTER JOIN PM_USER PU
		  	     ON PD.CMP_CODE  = PU.CMP_CODE
		  	    AND PD.USER_CODE = PU.USER_CODE 
		 WHERE PD.CMP_CODE  = #{cmpCode}
		   AND PD.USER_CODE = #{userCode}
		<if test="docStatus != 'all'">
			AND PD.DOC_STATUS = #{docStatus}
	   	</if>
	   	<if test="viewType == 'request'">
	   		AND DATE_FORMAT(PD.REQUEST_YMD,'%Y%m%d') BETWEEN REPLACE(#{startDay},'-','') AND REPLACE(#{endDay},'-','')
	   	</if>
	   	<if test="viewType == 'sign'">
	   		AND DATE_FORMAT(PD.SIGN_YMD,'%Y%m%d') BETWEEN REPLACE(#{startDay},'-','') AND REPLACE(#{endDay},'-','')
	   	</if>
	   	ORDER BY PD.DOC_NO DESC
	</select>
	
	<select id="getDocumentSignList" parameterType="com.app.planm.document.vo.DocumentDTO" resultType="com.app.planm.document.vo.DocumentVO">
		SELECT PS.DOC_NO
			 , PD.USER_CODE			 
			 , (SELECT USER_NAME FROM PM_USER A WHERE CMP_CODE=PD.CMP_CODE AND USER_CODE=PD.USER_CODE) USER_NAME
			 , (SELECT CHILD_NAME FROM CODE_CHILD A WHERE PARENT_CODE='DOC001' AND CHILD_CODE=PD.DOC_TYPE) DOC_TYPE
			 , (SELECT CHILD_NAME FROM CODE_CHILD A WHERE PARENT_CODE='DOC002' AND CHILD_CODE=PD.DOC_STATUS) DOC_STATUS			 			 
			 , DATE_FORMAT(PD.REQUEST_YMD,'%Y-%m-%d') REQUEST_YMD
			 , DATE_FORMAT(PD.SIGN_YMD,'%Y-%m-%d') SIGN_YMD			 
		  FROM PM_DOCUMENT_SIGN PS
		  	   INNER JOIN PM_DOCUMENT PD 
		  	      ON PS.CMP_CODE = PD.CMP_CODE
		  	     AND PS.DOC_NO   = PD.DOC_NO
		 WHERE PS.CMP_CODE  = #{cmpCode}
		   AND PS.SIGN_USER = #{userCode}
		<if test="docStatus != 'all'">
			AND PS.DOC_STATUS = #{docStatus}
	   	</if>
	   	<if test="viewType == 'request'">
	   		AND DATE_FORMAT(REQUEST_YMD,'%Y%m%d') BETWEEN REPLACE(#{startDay},'-','') AND REPLACE(#{endDay},'-','')
	   	</if>
	   	<if test="viewType == 'sign'">
	   		AND DATE_FORMAT(SIGN_YMD,'%Y%m%d') BETWEEN REPLACE(#{startDay},'-','') AND REPLACE(#{endDay},'-','')
	   	</if>
	   	ORDER BY PS.DOC_NO DESC
	</select>
	
	<select id="getMyDocumentInfo" parameterType="com.app.planm.document.vo.DocumentDTO" resultType="com.app.planm.document.vo.DocumentVO">
		SELECT DOC_NO
			 , USER_CODE    -- 신청자
		     , DOC_TYPE     -- 문서유형
		     , REQUEST_YMD  -- 신청일
		     , SIGN_YMD     -- 결재일
		     , RETURN_CAUSE -- 반려사유
		  FROM PM_DOCUMENT
		 WHERE CMP_CODE = #{cmpCode}
		   AND DOC_NO   = #{docNo}
	</select>
	
	<select id="getSignDocumentInfo" parameterType="com.app.planm.document.vo.DocumentDTO" resultType="com.app.planm.document.vo.DocumentVO">
		SELECT PD.DOC_NO
			 , PD.USER_CODE
		     , (SELECT USER_NAME FROM PM_USER A WHERE CMP_CODE=PD.CMP_CODE AND USER_CODE=PD.USER_CODE) USER_NAME		  
		     , PD.DOC_TYPE
     		 , PD.DOC_STATUS
		     , (SELECT CHILD_NAME FROM CODE_CHILD A WHERE PARENT_CODE='DOC002' AND CHILD_CODE=PD.DOC_STATUS) DOC_STATUS_NM			 
			 , (SELECT CHILD_NAME FROM CODE_CHILD A WHERE PARENT_CODE='DOC001' AND CHILD_CODE=PD.DOC_TYPE) DOC_TYPE_NM
		     , DATE_FORMAT(PD.REQUEST_YMD, '%Y년 %m월 %d일 %H:%i') REQUEST_YMD
		     , DATE_FORMAT(PD.SIGN_YMD, '%Y년 %m월 %d일 %H:%i') SIGN_YMD
		     , PD.RETURN_CAUSE
             , (SELECT CHILD_NAME FROM CODE_CHILD A WHERE PARENT_CODE='LVE001' AND CHILD_CODE=PDL.LEAVE_TYPE) LEAVE_TYPE
             , (SELECT CHILD_NAME FROM CODE_CHILD A WHERE PARENT_CODE='LVE002' AND CHILD_CODE=PDL.DAY_TYPE) DAY_TYPE
		     , CONCAT(DATE_FORMAT(PDL.START_DAY, '%Y.%m.%d')
					, ' ~ '
					, DATE_FORMAT(PDL.END_DAY, '%Y.%m.%d')) LEAVE_DAY
		     , PDL.LEAVE_CNT
		     , PDL.REMARK
             , (SELECT SIGN_SEQ	     FROM PM_DOCUMENT_SIGN A WHERE CMP_CODE=PD.CMP_CODE AND DOC_NO=PD.DOC_NO AND SIGN_USER=#{userCode}) SIGN_SEQ
             , (SELECT MAX(SIGN_SEQ) FROM PM_DOCUMENT_SIGN A WHERE CMP_CODE=PD.CMP_CODE AND DOC_NO=PD.DOC_NO) LAST_SEQ
		  FROM PM_DOCUMENT PD
		  	   LEFT OUTER JOIN PM_DOCUMENT_LEAVE PDL
         		 ON PD.CMP_CODE = PDL.CMP_CODE
				AND PD.DOC_NO   = PDL.DOC_NO
		 WHERE PD.CMP_CODE = #{cmpCode}
		   AND PD.DOC_NO   = #{docNo}
	</select>
	
	<select id="getDocumentSign" parameterType="com.app.planm.document.vo.DocumentDTO" resultType="com.app.planm.document.vo.DocumentVO">
		SELECT PDS.CMP_CODE
			 , PDS.DOC_NO
			 , PDS.SIGN_SEQ
			 , PDS.SIGN_USER			 
             , (SELECT CONCAT(USER_NAME, '(', USER_CODE, ')') 
             	  FROM PM_USER A 
             	 WHERE CMP_CODE=PDS.CMP_CODE AND USER_CODE=PDS.SIGN_USER) SIGN_NAME
			 , DATE_FORMAT(PDS.SIGN_YMD, '%Y.%m.%d. %H:%i')	SIGN_YMD	 
			 , (SELECT CHILD_NAME FROM CODE_CHILD A WHERE PARENT_CODE='DOC002' AND CHILD_CODE=PDS.DOC_STATUS) DOC_STATUS			 
		  FROM PM_DOCUMENT_SIGN PDS 
         WHERE PDS.CMP_CODE = #{cmpCode}
           AND PDS.DOC_NO = #{docNo}
		 ORDER BY PDS.SIGN_SEQ
	</select>
	
	<select id="getUserLeave" parameterType="com.app.planm.document.vo.DocumentDTO" resultType="com.app.planm.document.vo.DocumentVO">
		SELECT A.USER_CODE
			 , A.USER_NAME
		     , B.CREATE_DAY
			 , B.USE_DAY
		     , B.REMAIN_DAY
		  FROM PM_USER A
			   LEFT OUTER JOIN PM_USER_LEAVE B
			     ON A.CMP_CODE  = B.CMP_CODE
				AND A.USER_CODE = B.USER_CODE
		 WHERE A.CMP_CODE  = #{cmpCode}
		   AND A.USER_CODE = #{userCode}
		   AND B.CREATE_YM = (SELECT MAX(CREATE_YM) 
		   					    FROM PM_USER_LEAVE A 
		   					   WHERE CMP_CODE  = #{cmpCode}
		   					     AND USER_CODE = #{userCode})		      
	</select>
	
	<select id="getMaxDocNo" resultType="String">
		SELECT CONCAT(SUBSTR(DATE_FORMAT(NOW(),'%Y%m%d'),3),
					  LPAD(CONVERT(IFNULL(MAX(DOC_NO),0)+1, CHAR),'4','0')
			   ) AS DOC_NO
		  FROM PM_DOCUMENT
		 WHERE SUBSTR(DOC_NO,1,6) = SUBSTR(DATE_FORMAT(NOW(),'%Y%m%d'),3)		 
	</select>
	
	<insert id="saveDoc" parameterType="com.app.planm.document.vo.DocumentDTO">
		INSERT INTO PM_DOCUMENT (
			  CMP_CODE
			, DOC_NO
			, USER_CODE
			, DOC_TYPE
			, DOC_STATUS
			, REQUEST_YMD
			, SIGN_YMD
			, RETURN_CAUSE
		) VALUES (
			  #{cmpCode}
			, #{docNo}
			, #{userCode}
			, #{docType}
			, #{docStatus}
			, NOW()
			, NULL
			, ''
		)
	</insert>
	
	<insert id="saveDocLeave" parameterType="com.app.planm.document.vo.DocumentDTO">
		INSERT INTO PM_DOCUMENT_LEAVE (
			  CMP_CODE
			, DOC_NO
			, LEAVE_TYPE
			, DAY_TYPE
			, START_DAY
			, END_DAY
			, LEAVE_CNT
			, REMARK
		) VALUES (
			  #{cmpCode}
			, #{docNo}
			, #{leaveType}
			, #{dayType}
			, REPLACE(#{startDay},'-','')
			, REPLACE(#{endDay},'-','')					
			, #{leaveCnt}
			, #{remark}
		)
	</insert>
	
	<insert id="saveDocSign" parameterType="com.app.planm.document.vo.DocumentDTO">
		INSERT INTO PM_DOCUMENT_SIGN (
			  CMP_CODE
			, DOC_NO
			, SIGN_SEQ
			, SIGN_USER
			, SIGN_YMD
			, DOC_STATUS			
		) VALUES (
			  #{cmpCode}
			, #{docNo}
			, (SELECT IFNULL(MAX(SIGN_SEQ),0)+1
			     FROM PM_DOCUMENT_SIGN A 
			    WHERE CMP_CODE = #{cmpCode} 
			      AND DOC_NO   = #{docNo})
			, #{signUser}
			, NULL
			, '0001'			
		)
	</insert>
	
	<select id="getHoliday" resultType="String">
		SELECT CONCAT(YYYY,MMDD) AS YYYYMMDD			 
		 FROM shxdb.CALENDAR_HOLIDAY 
		WHERE YYYY = DATE_FORMAT(CURDATE(),'%Y')
	</select>		
	
	<select id="getUserAutoSign" parameterType="com.app.planm.document.vo.DocumentDTO" resultType="String">
		SELECT IFNULL(MAX(PS.AUTOSIGN_YN),'N') AUTOSIGN_YN
		  FROM PM_SIGN PS
		       LEFT OUTER JOIN PM_USER PU
		         ON PS.CMP_CODE  = PU.CMP_CODE
				AND PS.DEPT_CODE = PU.DEPT_CODE
		        AND PS.PART_CODE = PU.PART_CODE
		 WHERE PS.CMP_CODE  = #{cmpCode}
		   AND PS.DOC_TYPE  = #{docType}
		   AND PU.USER_CODE = #{userCode}		   
	</select>
	
	<select id="getSignUser" parameterType="com.app.planm.document.vo.DocumentDTO" resultType="camelHashMap">
		SELECT PSU.USER_CODE
			 , PU.USER_NAME
			 , IF(IFNULL(PD.DEPT_MANAGER,'N') = 'N', false, true) MANAGER	-- 부서장
		     , PU.JOB_POS
		     , (SELECT CHILD_NAME 
		         FROM CODE_CHILD 
		        WHERE PARENT_CODE=PC.POS_CATEGORY 
		          AND CHILD_CODE=PU.JOB_POS) JOB_NAME  -- 직책  
		  FROM PM_SIGN_USER PSU
			   INNER JOIN PM_USER PU
				  ON PSU.CMP_CODE  = PU.CMP_CODE
		         AND PSU.USER_CODE = PU.USER_CODE
			   INNER JOIN PM_COMPANY PC
		          ON PSU.CMP_CODE = PC.CMP_CODE
			   LEFT OUTER JOIN PM_DEPT PD
				 ON PU.CMP_CODE  = PD.CMP_CODE	   
				AND PU.USER_CODE = PD.DEPT_MANAGER
				AND PU.DEPT_CODE = PD.DEPT_CODE
		 WHERE PSU.CMP_CODE  = #{cmpCode} 
		   AND PSU.DOC_TYPE  = #{docType}
		   AND PSU.DEPT_CODE = (SELECT DEPT_CODE FROM PM_USER WHERE CMP_CODE=#{cmpCode} AND USER_CODE=#{userCode})
   		   AND PSU.PART_CODE = (SELECT PART_CODE FROM PM_USER WHERE CMP_CODE=#{cmpCode} AND USER_CODE=#{userCode})
		ORDER BY IF(MANAGER = true, 1, 0), PU.JOB_POS DESC
	</select>
	
	<select id="callSpSignDocument" statementType="CALLABLE" parameterType="com.app.planm.document.vo.DocumentDTO">
		{
			CALL SP_SIGN_DOCUMENT (
				  #{cmpCode , mode=IN, jdbcType=VARCHAR, javaType=String}
				, #{docNo   , mode=IN, jdbcType=VARCHAR, javaType=String}
				, #{userCode, mode=IN, jdbcType=VARCHAR, javaType=String}
			)
		}
	</select>
	
	<update id="updateDocReturn" parameterType="com.app.planm.document.vo.DocumentDTO">
		UPDATE PM_DOCUMENT_SIGN
		   SET DOC_STATUS = '0003'
		 WHERE CMP_CODE  = #{cmpCode}
		   AND DOC_NO    = #{docNo}
		   AND SIGN_USER = #{userCode};
		   
		UPDATE PM_DOCUMENT
		   SET DOC_STATUS   = '0003'
		   	 , RETURN_CAUSE = #{returnCause}
		 WHERE CMP_CODE = #{cmpCode}
		   AND DOC_NO   = #{docNo};
	</update>
	
</mapper>