<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.planm.document.dao.DocumentDao">

	<select id="getDocumentList" parameterType="com.app.planm.document.vo.DocumentDTO" resultType="com.app.planm.document.vo.DocumentVO">
		SELECT CMP_CODE
			 , DOC_NO
			 , USER_CODE
			 , (SELECT CODE_NAME FROM CODE_CHILD A WHERE PARENT_CODE='DOC001' AND CODE_VALUE=DOC_TYPE) DOC_TYPE
			 , (SELECT CODE_NAME FROM CODE_CHILD A WHERE PARENT_CODE='DOC002' AND CODE_VALUE=DOC_STATUS) DOC_STATUS			 
			 , DATE_FORMAT(REQUEST_YMD,'%Y-%m-%d') REQUEST_YMD
			 , DATE_FORMAT(SIGN_YMD,'%Y-%m-%d') SIGN_YMD
			 , RETURN_CAUSE
		  FROM PM_DOCUMENT
		 WHERE CMP_CODE = #{cmpCode}
	</select>
	
	
</mapper>