<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.planm.cmn.dao.CmnDao">
	
	<select id="getCodeList" parameterType="com.app.planm.cmn.vo.CmnDTO" resultType="camelHashMap">
		SELECT CC.CODE_VALUE	
		     , CC.CODE_NAME
		     , CC.USE_YN
		  FROM CODE_PARENT CP
		       INNER JOIN CODE_CHILD CC
		          ON CP.PARENT_CODE = CC.PARENT_CODE
		 WHERE CP.PARENT_CODE = #{parentCode}
		<if test='show != "all"'>
		   AND CC.USE_YN = 'Y'
		</if>		
		 ORDER BY CC.SORT_ORDER 		 
	</select>
	
</mapper>