<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.planm.cmn.dao.CmnDao">
	
	<select id="getCodeList" parameterType="com.app.planm.cmn.vo.CmnDTO" resultType="camelHashMap">
		SELECT CODE_VALUE	
		     , CODE_NAME
		  FROM CODE_PARENT CP
		       LEFT OUTER JOIN CODE_CHILD CC
		         ON CP.PARENT_CODE = CC.PARENT_CODE
		 WHERE CP.PARENT_CODE = #{parentCode}
		 ORDER BY SORT_ORDER 		 
	</select>
	
</mapper>